html, body {
    background-color: #eee;
}
body {
    padding-top: 30px;
}
.container {
    width: 920px; 
}

.content .span14 {
    min-height: 200px;
    width: 920px;
}

.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
    border-bottom: none;
    padding: 5px 20px 0;
    margin: -13px -20px -8px;
}
.page-header form {
    margin-top: -52px; 
    float: right;
    width: 410px;
}

#search-input {
    width: 400px;
}

.zebra-striped tr:first-child td{
    border: none !important;
}

.article-actions-container {
    /*overflow: hidden;*/
}
.article-actions-list {
    margin: 0;
    border-top: 1px solid #DCD9D5;
}
.article-actions-list li {
    list-style-type: none;
    float: right;
    line-height: 1em;
    margin-left: 20px;
    padding: 5px 10px 0 25px;
    border-left: 1px solid #DCD9D5;
}
.article-item-container .article-meta {
    margin: 0 0 6px 19px;
    font-size: 0.9em;
}

.article-actions-list .tag-list {
    float: left;
    margin-left: 0;
    padding-left: 10px;
}
.tag-list span.label {
    text-transform: none;
    background-color: #0073EA;
    padding: 2px 5px 3px 5px !important;
    font-size: 10px;
    margin-left: 2px;
}

.topbar {
    height: 36px !important;
}
.topbar a {
    padding: 5px 10px 5px !important;
}
.topbar h3 a {
    font-weight: bold !important;
}
.topbar  .nav  li.active_item > a {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
