{% extends "theme_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title_base %}{{article.title}}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/article.css">

<script src="{{ STATIC_URL }}js/jquery-ui-1.8.17.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/tag-it.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flick/jquery-ui.css">
<link href="{{ STATIC_URL }}css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/prettify.css">

<script src="{{ STATIC_URL }}js/prettify.js"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() { 
    prettyPrint();
    $("#tag-it").tagit({
        placeholderText: "add tag..",
        onTagAdded: function(event, tag) {
            var name = $(tag).find('input').val();
            var sub_id = $('#sub_id').text();
            $.post('/reader/subscription/tag', {
                    "tag_name": name,
                    "sub_id": sub_id
                },
                function(data) {
                    console.log('tag: ' + name + ' added.');
                });
        },
        onTagRemoved: function(event, tag) {
            var name = $(tag).find('input').val();
            var sub_id = $('#sub_id').text();
            $.post('/reader/subscription/untag', {
                    "tag_name": name,
                    "sub_id": sub_id
                },
                function(data) {
                    console.log('tag: ' + name + ' removed.');
                });
        }
    });

});
</script>
{% endblock %}

{% block topbar_base %}{% endblock %}

{% block body %}
<div class="wrapper">
    <section id="content">
        <article>
            <header id="article-header"> 
            <a id="article-url" href="{{article.article_url}}" title="View original" 
                style="background: transparent url('https://s2.googleusercontent.com/s2/favicons?domain={{article.site_url}}') 0 center no-repeat;">{{article.site_url}}</a>
            <h1 id="article-title">{{article.title}}</h1>
            <div id="article-meta-container">
                <aside id="article-meta">
               {% if article.author or article.published %}
                    <span class="author">{{article.author}}</span>
                    <span> - </span>
                    <span class="published">{{article.published}}</span>
                {% endif %}
                </aside>
                <ul id="tag-it">
                    {% for tag in tags %}
                        <li>{{tag.name}}</li>
                    {% endfor %}
                </ul>
            </div>
            </header> 
            <section id="article-content">
                {{ article.content|safe }}
            </section>
        </article>
    </section>
    <div id="sub_id" class="hidden">{{subscription.id}}</div>
</div>
{% endblock %}

