{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}
<style type="text/css">
    html, body {
        background-color: #eee;
    }
    body {
        padding-top: 40px;
    }
    .container {
        width: 820px; 
    }

    .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
    }

    .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
    }

    .content .span14 {
        min-height: 500px;
    }
</style>
<div class="content">
    <div class="page-header">
        <h1>{{ article.title }}<small>{{ article.site_url }}</small></h1>
    </div>
    <div class="span14">
        {{ article.content|safe }}
    </div>
</div>
{% endblock %}

