{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}
<style type="text/css">
    html, body {
        background-color: #eee;
    }
    body {
        padding-top: 40px;
    }
    .container {
        width: 820px; 
    }

    .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
    }

    .page-header {
        border-bottom: none;
        padding: 12px 20px 5px;
        margin: -13px -20px 10px;
    }
    .page-header form {
        margin-top: -40px; 
        float: right;
        width: 380px;
    }

    .content .span14 {
        min-height: 200px;
    }

    .zebra-striped tr:first-child td{
        border: none !important;
    }
</style>
<div class="content">
    <div class="page-header">
        <h1>{% trans "Reading List" %}<small>{{ article.site_url }}</small></h1>
        {% if user.is_authenticated %}
        <form action="/reader/create/" method="post">
            {% csrf_token %}
            <div class="input-prepend">
                <input class="span6" id="prependedInput" name="article_url" size="16" type="text"
                    title="Enter article url" placeholder="Enter article url"  autofocus="autofocus">
                <span class="add-on">@</span>
            </div>
        </form>
        {% endif %}
    </div>
    <div class="span14">
        <table class="zebra-striped bordered-table">
        <tbody>
            {% for a in articles %}
          <tr>
              <td>
                  <h3><a href="{{a.article_url}}"><img src="//s2.googleusercontent.com/s2/favicons?domain={{a.site_url}}" title="view original from {{a.site_url}}"></img></a>
                      <a href="/reader/{{a.id}}">{{a.title}}</a> </h3>
                  {{a.summary}}
              </td>
          </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}

