{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}
<style type="text/css">
    html, body {
        background-color: #eee;
    }
    body {
        padding-top: 40px;
    }
    .container {
        width: 820px; 
    }

    .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
    }

    .page-header {
        border-bottom: none;
        padding: 12px 20px 0;
        margin: -13px -20px 10px;
    }
    .page-header form {
        margin-top: -57px; 
        float: right;
        width: 380px;
    }

    .content .span14 {
        min-height: 200px;
    }

    .zebra-striped tr:first-child td{
        border: none !important;
    }

    .article-actions-container {
        overflow: hidden;
    }
    .article-actions-list {
        margin: 0;
        border-top: 1px solid #DCD9D5;
    }
    .article-actions-list li {
       list-style-type: none;
       float: right;
       line-height: 1em;
        margin-left: 20px;
        padding: 5px 10px 0 25px;
        border-left: 1px solid #DCD9D5;
    }
    .article-item-container .article-meta {
        margin: 0 0 6px 19px;
        font-size: 0.9em;
    }
</style>
<div class="content">
    <div class="page-header">
        {% if user.is_authenticated %}
        <ul class="pills">
            <li class="{{reading_class}}"><a href="/reader">Reading ({{unread_count}})</a></li>
            <li class="{{achieve_class}}"><a href="{% url reader:view_achieve %}">Achieve</a></li>
        </ul> 
        <form action="{% url reader:subscribe %}" method="post">
            {% csrf_token %}
            <div class="input-prepend">
                <input class="span6" id="prependedInput" name="article_url" size="16" type="text"
                    title="Enter article url" placeholder="Enter article url"  autofocus="autofocus">
                <span class="add-on">@</span>
            </div>
        </form>
        {% endif %}
    </div>
    <div class="span14">
        {% if subscriptions %}
        <table id="article-list" class="zebra-striped bordered-table">
        <tbody>
            {% for sub in subscriptions %}
                {% with a=sub.article %}
          <tr>
              <td>
                  <div class="article-item-container">
                      <div class="article-item">
                          <h3><a href="{{ a.article_url }}"><img src="//s2.googleusercontent.com/s2/favicons?domain={{a.site_url}}" title="view original from {{a.site_url}}"></img></a>
                              <a href="{% url reader:article_detail a.id %}">{{a.title}}</a> </h3>
                           {% if a.author or a.published %}
                            <aside class="article-meta">
                                <span class="author">{{a.author}}</span>
                                <span> - </span>
                                <span class="published">{{a.published}}</span>
                            </aside>
                           {% endif %}
                          <p>{{a.summary}}</p>
                       </div>
                       <div class="article-actions-container">
                           <ul class="article-actions-list">
                               {% if achieve_class  %}
                               <li> <a href="{% url reader:unread sub.id  %}" class="small">Unread</a> </li>
                               {% endif %}
                               {% if reading_class  %}
                               <li> <a href="{% url reader:mark_as_read sub.id %}" class="small">Achieve</a> </li>
                               {% endif %}
                               <li> <a href="{% url reader:unsubscribe %}" class="small">Delete</a> </li>
                           </ul>
                       </div>
                  </div>
              </td>
          </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

