{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block nav %}
<ul class="nav">
    <li class="active"><a href="{% url reader:articles %}">Reader</a></li>
</ul>
{% endblock %}

{% block extra_head_base %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css">
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block footer %}
<div class="legal">
    {% include "_footer.html" %}
</div>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
