{% extends "bundle_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Reading" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
{% endblock %}



{% block body %}
<div class="content">
    <div class="page-header">
        {% if user.is_authenticated %}
        <ul class="pills">
            <li class="{{browse_class}}"><a href="#">Browse</a></li>
           {% if search_result_count  %}
           <li class="active"> <a href="#" >Result ({{search_result_count}})</a> </li>
           {% endif %}
        </ul> 
        <form action="{% url reader:bundle_search_or_create %}" method="post">
            {% csrf_token %}
            <input class="span6" id="search-input" name="query" size="16" type="text"
            title="Enter article url" placeholder="search by #tag and keywords, or create bundle"  autofocus="autofocus" value="{{query_text}}">
        </form>
        {% endif %}
    </div>
    <div id="bundle-body" class="span14 bordered-table">
    </div>
</div>
{% endblock %}

