{% extends "bundle_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Reading" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
{% endblock %}



{% block body %}
<div class="content">
    <div class="page-header">
        {% if user.is_authenticated %}
        <ul class="pills">
            <li class="{{browse_class}}"><a href="#">Browse ({{bundle_total}})</a></li>
           {% if search_result_count  %}
           <li class="active"> <a href="#" >Result ({{search_result_count}})</a> </li>
           {% endif %}
        </ul> 
        <form action="{% url reader:bundle_search_or_create %}" method="post">
            {% csrf_token %}
            <input class="span6" id="search-input" name="query" size="16" type="text"
            title="Enter article url" placeholder="search by #tag and keywords, or create bundle"  autofocus="autofocus" value="{{query_text}}">
        </form>
        {% endif %}
    </div>
    <div class="span14">
        {% if bundles %}
        <table id="article-list" class="zebra-striped bordered-table">
        <tbody>
            {% for b in bundles %}
          <tr>
              <td>
                  <div class="article-item-container">
                      <div class="article-item">
                          <h3><a href="{% url reader:bundle_detail b.id %}">{{b.title}}</a></h3>
                            <aside class="article-meta">
                                <span class="article-info">{{b.subscription_count}} articles</span>
                                <span style="padding: 0 6px;"></span>
                                <span class="published">{{b.created}}</span>
                            </aside>
                       </div>
                       <div class="article-actions-container">
                           <ul class="article-actions-list">
                               {% if pills.ACHIEVE  %}
                               <li> <a href="#" class="small">Unread</a> </li>
                               {% endif %}
                               {% if pills.READING  %}
                               <li> <a href="#" class="small">Achieve</a> </li>
                               {% endif %}
                               <li> <a href="#">Delete</a> </li>
                                <li class="tag-list">  
                                {% for tag in b.tags %}
                                    <span class="label">{{tag.name}}</span>
                                {% endfor %}
                                </li>
                           </ul>
                       </div>
                  </div>
              </td>
          </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

