{% extends "theme_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title_base %}{{article.title}}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/article.css">

<script src="{{ STATIC_URL }}js/jquery-ui-1.8.17.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/tag-it.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flick/jquery-ui.css">
<link href="{{ STATIC_URL }}css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/prettify.css">

<script src="{{ STATIC_URL }}js/prettify.js"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() { 
    prettyPrint();
    $("#tag-it").tagit({
        placeholderText: "add tag.."
    });

});
</script>
{% endblock %}

{% block topbar_base %}{% endblock %}

{% block body %}
<div class="wrapper">
    <section id="content">
        <article>
            <header id="article-header"> 
            <a id="article-url" href="{{bundle.url}}" title="View original">View Original</a>
            <h1 id="article-title">{{bundle.title}}</h1>
            <div id="article-meta-container">
                <ul id="tag-it">
                    {% for tag in bundle.tags %}
                        <li>{{tag.name}}</li>
                    {% endfor %}
                </ul>
            </div>
            </header> 
            <section id="article-content">
                {{ bundle.content|safe }}
            </section>
        </article>
    </section>
</div>
{% endblock %}

