{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Detail" %}{% endblock %}

{% comment %}
    remove the title bar
{% endcomment %}
{% block topbar_base %}{% endblock %}  

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tag.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/article.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/prettify.css">
<script src="{{ STATIC_URL }}js/prettify.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() { 
    prettyPrint();

    var article_id = $('#article_id').text();

    var remove_tag = function($item) {
        $item.detach();
        var name = $item.find('.name').text();
        $.post('/article/untag/', {
                "tag_name": name,
                "article_id": article_id
            },
            function(data) {
                console.log('tag: ' + name + ' removed.');
            });
    };

    var add_tag = function(name) {
        var item = $('<div class="tag"> <div class="arrow"></div> <div class="co"> <span class="name"></span> </div> </div>');
        item.find('span').text(name);
        $('.tag-list').append(item);
        item.click(function() {
            remove_tag(item);
        });

        $.post('/article/tag/', {
                "tag_name": name,
                "article_id": article_id 
            },
            function(data) {
                console.log('tag: ' + name + ' added.');
            });
    };

    $("#article-header .arrow").click(function() {
        var tag = $(this).parent();
        remove_tag(tag);
    });

    var tag_url = "/tag/autocomplete" 
    $.get(tag_url, function(data) {
        var tags = JSON.parse(data)['tags'];
        $('#tag-input').typeahead({source: tags}).keyup(function(evt) {
            if (evt.keyCode == 13) {
                var tag = $(this).val();
                $('#tag-input').val("");
                if (!tag)
                    return ;
                add_tag(tag);
            }
        });
    });

    var unarchive_btn = $('.toolbar-archived');
    var archived_btn = $('.toolbar-unarchived');

    unarchive_btn.click(function(e) {
        e.preventDefault();
        $(this).parent().addClass('hidden');
        archived_btn.parent().removeClass('hidden');
        $.post(unarchive_btn.attr('href'), {"article_id": article_id}, function() {
            console.log("article archived");
        });
    });
    archived_btn.click(function(e) {
        e.preventDefault();
        $(this).parent().addClass('hidden');
        unarchive_btn.parent().removeClass('hidden');
        $.post(archived_btn.attr('href'), {"article_id": article_id}, function() {
            console.log("article unarchived");
        });
    });


    var reload_btn = $('.toolbar-reload');
    if (reload_btn) {
        reload_btn.click(function(evt) {
            evt.preventDefault();
            $.post(reload_btn.attr('href'), {"article_id": article_id}, function() {
                console.log("article reload");
                document.location.reload();
            });
        });
    } 

});
</script>
{% endblock %}


{% block body %}
<div class="span1 well sidebar-nav">
    <ul class="nav nav-list">
        <li><a href="{% url reader:articles %}" title="go home"></a></li>
        <li><a class="toolbar-view" href="{{article.url}}" title="view original"></a></li>
        <li class="{{archived}}"><a class="toolbar-archived" href="{% url reader:unarchive %}" title="unarchive"></a></li>
        <li class="{{unarchived}}"><a class="toolbar-unarchived" href="{% url reader:archive %}" title="archive"></a></li>
        {% if request.user.is_superuser %}
        <li><a class="toolbar-reload" href="{% url reader:reload %}" title="reload"></a></li>
        <li><a class="toolbar-debug" href="{% url reader:article_debug article.id %}" title="debug"></a></li>
        {% endif %}
    </ul>
</div>
<div class="wrapper">
    <section id="content">
        <article>
            <header id="article-header"> 
               <div class="tag-list">
                    <div id="tag-input-container" class="input-append">
                        <input type="text" id="tag-input" class="span2" name="tag-input" value="">
                        <span class="add-on"><i class="icon-tags"></i></span>
                    </div>
                {% for tag in article.tags.all %}
                    <div class="tag">
                        <div class="arrow"></div>
                        <div class="co">
                            <span class="name">{{tag.name}}</span>
                        </div>
                    </div>
                {% endfor %}
               </div>
               <div id="title-container">
                   <h1 id="article-title">
                       <a id="article-url" href="{{article.url}}" title="View original" 
                        style="background: transparent url('https://s2.googleusercontent.com/s2/favicons?domain={{article.site_url}}') 0 center no-repeat;"></a>
                       {{article.title}}</h1>
               </div>
            </header> 
            <section id="article-content">
                {{ article.content|safe }}
            </section>
        </article>
    </section>
    <div id="article_id" class="hidden">{{article.id}}</div>
</div>
{% endblock %}

