{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Reading" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
<script type="text/javascript" charset="utf-8">
$(document).ready(function() { 
    var csrf = $('[name=csrfmiddlewaretoken]').val();
    var csrf_name = "csrfmiddlewaretoken";

    $('.article-item-container').parent().hover(
        function() {
            var btns = $(this).find('.btn-group');
            btns.removeClass('hidden');
        }, 
        function() {
            var btns = $(this).find('.btn-group');
            btns.addClass('hidden');
        }
    );

    $('.article-actions-form .btn').click(function() {
        var form = $(this).closest('form');
        var url = this.href;
        form.attr('action', url);
        form.submit();
        return false;
    });
});
</script>
{% endblock %}

{% block body %}
<div class="content span14">
    <div class="page-header">
        {% if user.is_authenticated %}
        <ul class="nav nav-pills">
            <li class="{{ UNREAD }}"><a href="{% url reader:articles %}">Reading ({{reading_count}})</a></li>
            <li class="{{ ACHIEVE }}"><a href="{% url reader:achieved %}">Achieve</a></li>
           {% if RESULT  %}
               <li class="active"> <a href="#" >Result ({{article_list.count}})</a> </li>
           {% endif %}
        </ul>
        <form action="{% url reader:search %}" method="get" class="form-search">
            {% csrf_token %}
            <input class="span6 search-query" id="search-input" name="query" size="16" type="search"
            title="Enter article url" placeholder="search by #tag or keyword"  autofocus="autofocus" value="{{query_text}}">
        </form>
        {% endif %}
    </div>
    <div id="article-list" class="span14">
        {% if article_list %}
        <table  class="table table-bordered table-condensed">
        <tbody>
            {% for a in article_list %}
          <tr>
              <td>
                  <div class="article-item-container">
                      <div class="article-item">
                        
                        <form method="POST" class="article-actions-form" style="margin: 0;">
                            <input type="hidden" name="article_id" value="{{a.id}}">
                            {% csrf_token %}
                            <div class="btn-group hidden">
                                <a class="btn" href="{% url reader:unsubscribe %}"><i class="icon-trash"></i> Delete</a>
                               {% if ACHIEVE  %}
                               <a class="btn" href="{% url reader:unachieve %}"><i class="icon-repeat"></i> Unachieve</a>
                               {% endif %}
                                <a class="btn" href="{% url reader:reload %}"><i class="icon-refresh"></i> Reload</a>
                               {% if UNREAD  %}
                                <a class="btn" href="{% url reader:achieve %}"><i class="icon-ok"></i> Achieve</a>
                               {% endif %}
                            </div>
                        </form>

                          <h3><a href="{{ a.url }}"><img src="//s2.googleusercontent.com/s2/favicons?domain={{a.site_url}}" title="view original from {{a.site_url}}"></img></a>
                              <a href="{% url reader:article_detail a.id %}">{{a.title}}</a> </h3>
                           {% if a.author or a.published %}
                            <aside class="article-meta">
                                <span class="author">{{a.author}}</span>
                                <span> - </span>
                                <span class="published">{{a.published}}</span>
                            </aside>
                           {% endif %}
                          <p>{{a.summary}}</p>
                       </div>
                       <div class="article-tags">
                        {% for tag in a.tags.all %}
                            <div class="tag">
                                <div class="ar" a="rem"></div>
                                <div class="co">
                                    <span class="name">{{tag.name}}</span>
                                </div>
                            </div>
                        {% endfor %}
                       </div>
                  </div>
              </td>
          </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

