{% extends "reader_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Reading" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
{% endblock %}

{% block body %}
<div class="content">
    <div class="page-header">
        {% if user.is_authenticated %}
        <ul class="pills">
            <li class="{{ pills.READING }}"><a href="/reader">Reading ({{unread_count}})</a></li>
            <li class="{{ pills.ACHIEVE }}"><a href="{% url reader:view_achieve %}">Achieve</a></li>
            <li class="{{ pills.PENDING }}"><a href="{% url reader:article_pending %}">Pending ({{pending_count}})</a></li>
           {% if search_result_count  %}
           <li class="active"> <a href="#" >Result ({{search_result_count}})</a> </li>
           {% endif %}
        </ul> 
        <form action="{% url reader:search_or_subscribe %}" method="post">
            {% csrf_token %}
            <input class="span6" id="search-input" name="query" size="16" type="text"
            title="Enter article url" placeholder="try #tag some other word, or http://balabala"  autofocus="autofocus" value="{{query_text}}">
        </form>
        {% endif %}
    </div>
    <div class="span14">
        {% if subscriptions %}
        <table id="article-list" class="zebra-striped bordered-table">
        <tbody>
            {% for sub in subscriptions %}
                {% with a=sub.article %}
          <tr>
              <td>
                  <div class="article-item-container">
                      <div class="article-item">
                            <h3 class="pending-title"><a href="{{ a.article_url }}"><img src="//s2.googleusercontent.com/s2/favicons?domain={{a.site_url}}" title="view original from {{a.site_url}}"></img></a>
                                <a href="{{a.article_url}}">{{a.article_url_summary}}</a> </h3>
                            <form class="retry-form" action="{% url reader:article_retry %}" method="post">
                                {% csrf_token %}
                                <input class="span6 hidden" name="url" size="16" type="text" value="{{a.article_url}}"/>
                                <input class="btn pending-action" type="submit" size="16" value="Retry"/>
                            </form>
                       </div>
                  </div>
              </td>
          </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

